# Python
__pycache__/
*.py[cod]
*.egg-info/
build/
dist/
env/
.venv/
venv/
.mypy_cache/
.pytest_cache/
.ruff_cache/

# Веса и артефакты моделей
*.pt
*.pth
*.ckpt
*.onnx
*.index
*.safetensors

# Аудио
*.wav
*.mp3
*.m4a
*.ogg
*.flac
*.aiff
!logs/mute/sliced_audios/mute32000.wav
!logs/mute/sliced_audios/mute40000.wav
!logs/mute/sliced_audios/mute48000.wav
!logs/mute/sliced_audios_16k/mute.wav

# Прочее
*.zip
*.log
*.txt
!requirements.txt
*.ipynb_checkpoints
**/.ipynb_checkpoints/
.DS_Store
Thumbs.db
miniconda.sh
miniconda.exe
ffmpeg.exe
ffprobe.exe
